body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calc {
    width: 350px;
    background: black;
    margin: 60px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

input {
    width: 90%;
    padding: 15px;
    font-size: 26px;
    text-align: right;
    margin-bottom: 15px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

button {
    width: 60px;
    height: 60px;
    margin: 6px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background: #2c2c2c;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #5f5e5e;
}

.operator {
    background: linear-gradient(45deg, #0ab448, #22933e);
    font-weight: bold;
}

.equalbtn {
    background: linear-gradient(45deg, #ff005f, #ff5f00);
    font-weight: bold;
}